@import "navbar";

// Lable position
label {
  float: left;
  font-weight: 600;
}

#socials a {
  border-radius: 50%;
  margin-left: 10%;
}

.well {
  list-style: none;
  width: 32%;
  margin-left: 1%;
}


